<!DOCTYPE html>
<html>
  <head>
    <title>Peter Bug Reporter</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Peter Bug Reporter</h1>
    <p>Bug Submission <%= status %></p>
  </body>
</html>
